body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
header{
    background: #f3f5fc;
    padding: 12px;
    position: absolute;
}

main{
    width: 100%;
    background: #f3f5fc;
    display: grid;
    grid-template-areas:
    "izquierda derecha";
    grid-template-columns: 70% 30%;
    grid-template-rows: 95%;
}

.izquierda{
    padding: 3em;
    margin: 22px 121px;
}

textarea{
    border: none;
    resize: none;
}

textarea:focus{
    outline: none;
}

.izquierda textarea{
    background: #f3f5fc;
    width: 100%;
    height: 450px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #0A3871;
}

.izquierda p{
    margin-bottom: 15px;
}

.izquierda textarea::placeholder{
    color: #0A3871;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.izquierda textarea:focus::placeholder{
    color: #bfd5f0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.botones{
    display:block;
    height: 95%;
}

button{
    cursor: pointer;
    border: 1px solid #0A3871;
    border-radius: 25px;
    height: 57px;
    font-size: 16px;
}

.boton-encriptar{
    width: 48%;
    color: #D8DFE8;
    background: #0A3871;
    
}

.boton-desencriptar{
    width: 48%;
    color: #0A3871;
    background: #D8DFE8;
    margin-left: 3%;
}

/* Sección derecha */

.derecha{
    background: #FFFFFF;
    border-radius: 15px;
    margin: 20px 20px 20px 0 ;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 15px 10px 25px gray;
}

.derecha textarea{
    background: #ffffff;
    width: 93%;
    height: 350px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #495057;
    border-radius: 15px;
    padding: 12px;
}

.imagen-mensaje{
    margin-top: 25%;

}

.imagen-mensaje img{
    width: 70%;
}


.copiar{
    padding-top: 43%;
}

.boton-copiar{
    width: 80%;
    color: #0A3871;
    background: #D8DFE8;
    vertical-align: bottom;
    margin-left: 3%;
}

footer{
    text-align: center;
    color: #FFFFFF;
    background: #343a40;
    margin: 0;
    padding: 5px;
}

@media screen and (max-width:480px) {
    main{
        width: 100%;
       
        grid-template-areas:
        "izquierda"  
        "derecha";
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }

    .izquierda{
        padding: 30px;
        margin: 3px;
    }

    .izquierda textarea{
        height: auto;
    }
    
    .botones{
        display:inline;
    }

    button{
        height: 70px;
        font-size: 20px;
    }

    .boton-encriptar{
        width: 100%;
    }

    .boton-desencriptar{
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
    }




    .derecha{
        height: auto;
        margin: 30px;
        padding: 30px;
        margin: 0 20px 0 20px ;
        text-align: center;
    }

    .imagen-mensaje img{
        display: none;
    }
}

@media screen and (max-width: 768px) { 
    main{
        width: 100%;
       
        grid-template-areas:
        "izquierda"  
        "derecha";
        grid-template-columns: 100%;
        grid-template-rows: 75%;
    }
    .izquierda{
        padding: 30px;
        margin: 3px;
        height: 40%;
    }


    .derecha{
        margin: 0 20px 0 20px;
    }



    .texto-encriptado{
        width: 95%;
    }

    .imagen-mensaje{
        margin-top: 20%;
    }
    .imagen-mensaje img{
        display: none;
    }

    .copiar{
        display: none;
    }
}