body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

header{
    background: #f3f5fc;
    padding: 12px;
}

main{
    width: 100%;
    background: #f3f5fc;
    display: grid;
    grid-template-areas:
    "izquierda derecha";
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.izquierda{
    padding: 3em;
    /* width: 940px; */
    margin: 22px 121px;
}

textarea{
    border: none;
    resize: none;
}

textarea:focus{
    outline: none;
}

.izquierda textarea{
    background: #f3f5fc;
    width: 100%;
    height: 450px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #0A3871;
    /* padding: 0 30% 0 0; */
}

.izquierda textarea::placeholder{
    color: #0A3871;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.izquierda textarea:focus::placeholder{
    color: #bfd5f0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.botones{
    display:block;
    /* padding: auto; */
    /* text-align: center; */
    /* vertical-align: ; */
}

button{
    /* font-family: Inter; */
    cursor: pointer;
    border: 1px solid #0A3871;
    border-radius: 15px;
    height: 57px;
    font-size: 16px;
}

.boton-encriptar{
    width: 48%;
    color: #D8DFE8;
    background: #0A3871;
    
}

.boton-desencriptar{
    width: 48%;
    /* height: 67px; */
    color: #0A3871;
    background: #D8DFE8;
    margin-left: 3%;
}

/* Sección derecha */

.derecha{
    background: #FFFFFF;
    border-radius: 15px;
    margin: 0 20px 20px 0 ;
    text-align: center;
    box-sizing: border-box;
}

.derecha textarea{
    background: #ffffff;
    width: 100%;
    height: 350px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #495057;
    border-radius: 15px;
    padding: 12px;
    /* display: none; */
}

.imagen-mensaje{
    margin-top: 25%;

}

.imagen-mensaje img{
    width: 70%;
}


.copiar{
    padding-top: 43%;
}

.boton-copiar{
    width: 80%;
    /* height: 67px; */
    color: #0A3871;
    background: #D8DFE8;
    vertical-align: bottom;
    margin-left: 3%;
    /* display: none; */
    /* position:static; */
}




footer{
    text-align: center;
    color: #FFFFFF;
    background: #343a40;
    margin: 0;
    padding: 5px;
}